spring:
  application:
    name: cart-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/sofkify_cars_bd
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  flyway:
    enabled: true
    baseline-on-migrate: true

server:
  port: 8083
  servlet:
    context-path: /api

logging:
  level:
    com.sofkify.cartservice: DEBUG

product:
  service:
    url: http://localhost:8081/api

user:
  service:
    url: http://localhost:8080/api
