spring:
  application:
    name: cart-service
  
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  flyway:
    enabled: true
    baseline-on-migrate: true

server:
  port: 8083

logging:
  level:
    com.sofkify.cartservice: DEBUG

product:
  service:
    url: http://localhost:8081/api

user:
  service:
    url: http://localhost:8080/api
